.contact{

    max-width:850px;

    margin:auto;

}

.contact-header{

    text-align:center;

    margin-bottom:50px;

}

.contact-header h2{

    font-size:42px;

    margin-bottom:10px;

}

.contact-header p{

    color:#94A3B8;

    font-size:18px;

}

.contact-form{

    display:flex;

    flex-direction:column;

    gap:22px;

}

.input-group{

    display:flex;

    align-items:center;

    background:#1E293B;

    border:1px solid transparent;

    border-radius:14px;

    padding:18px 20px;

    transition:.3s;

}

.input-group:hover{

    border-color:#38BDF8;

}

.input-group:focus-within{

    border-color:#38BDF8;

    box-shadow:0 0 20px rgba(56,189,248,.2);

}

.input-group i{

    color:#38BDF8;

    font-size:20px;

    margin-right:18px;

}

.input-group input{

    flex:1;

    border:none;

    background:none;

    color:white;

    font-size:17px;

    outline:none;

}

.input-group textarea{

    flex:1;

    resize:none;

    border:none;

    background:none;

    color:white;

    font-size:17px;

    outline:none;

}

.textarea{

    align-items:flex-start;

}

.textarea i{

    margin-top:5px;

}

.send-btn{

    margin-top:15px;

    height:60px;

    border:none;

    border-radius:14px;

    cursor:pointer;

    color:white;

    font-size:19px;

    font-weight:700;

    background:linear-gradient(
        90deg,
        #0EA5E9,
        #2563EB
    );

    transition:.35s;

}

.send-btn:hover{

    transform:translateY(-4px);

    box-shadow:
    0 15px 35px rgba(37,99,235,.4);

}

.success{

    text-align:center;

    color:#22C55E;

    font-weight:600;

    margin-top:10px;

}
input::placeholder,
textarea::placeholder{

    color:#94A3B8;

}
.contact-form{

    background:rgba(30,41,59,.6);

    backdrop-filter:blur(12px);

    padding:40px;

    border-radius:24px;

    border:1px solid rgba(255,255,255,.08);

}

.send-btn:disabled {
  opacity: .7;
  cursor: not-allowed;
}

/* ---------- Light Theme ---------- */

.light-theme .contact-form{

    background:#FFFFFF;

    border:1px solid #E2E8F0;

    box-shadow:0 12px 30px rgba(15,23,42,.08);

}

.light-theme .input-group{

    background:#F8FAFC;

    border:1px solid #CBD5E1;

}

.light-theme input,

.light-theme textarea{

    color:#111827;

}

.light-theme input::placeholder,

.light-theme textarea::placeholder{

    color:#64748B;

}