footer{
    width:110%;
    background:#020617;
    color:#94A3B8;

    text-align:center;

    padding:28px 20px;

    margin-top:70px;

    box-sizing:border-box;
}

footer p{
    margin:0;
}

.light-theme footer{
    background:#ffffff;
    color:#64748B;
    border-top:1px solid #E2E8F0;
}