.scroll-top{
    position:fixed;

    right:20px;
    bottom:20px;

    width:56px;
    height:56px;

    border-radius:50%;

    z-index:999;

  background: #2563eb;

  color: white;
    display:flex;
    justify-content:center;
    align-items:center;
}

@media(max-width:768px){

    .scroll-top{
        width:48px;
        height:48px;

        right:15px;
        bottom:15px;
    }

}