.project-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

gap:30px;

margin-top:40px;

}

.project-card{

background:#1E293B;

padding:30px;

border-radius:16px;

transition:.4s;

}

.project-card:hover{

transform:translateY(-10px);

box-shadow:0 20px 40px rgba(0,0,0,.3);

}

.project-card h3{

color:#38BDF8;

}

.project-card p{

color:#CBD5E1;

margin:20px 0;

line-height:1.7;

}

.chips{

display:flex;

gap:10px;

flex-wrap:wrap;

margin-bottom:25px;

}

.chips span{

background:#334155;

padding:8px 14px;

border-radius:20px;

font-size:13px;

}

.buttons{

display:flex;

gap:15px;

}