<section id="projects" class="section">
  <h2 class="gradient-text">Projects</h2>

  <div class="project-grid">
    <div class="project-card" *ngFor="let project of projects">
      <h3>
        {{ project.title }}
      </h3>

      <p>
        {{ project.description }}
      </p>

      <div class="chips">
        @for (tech of project.technologies; track tech) {
          <span>
            {{ tech }}
          </span>
        }
      </div>

      <div class="buttons">
        <a class="btn" [target]="'_blank'" [href]="project.github"> GitHub </a>

        <!-- <a class="btn-outline" [target]="'_blank'" [href]="project.demo"> Live Demo </a> -->
      </div>
    </div>
  </div>
</section>
