/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


html{
scroll-behavior:smooth;
}

body{
margin:0;
font-family:Inter,sans-serif;
background:#0F172A;
color:white;
}

.section{
padding:100px 10%;
}

.card{
background:#1E293B;
border-radius:16px;
padding:24px;
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}

.gradient-text{
background:linear-gradient(90deg,#38BDF8,#2563EB);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

body.light-theme{

    background:#F8FAFC;

    color:#111827;

    transition:0.3s;
}

body.light-theme .card,
body.light-theme .project-card,
body.light-theme .timeline-card,
body.light-theme .cert-card{

    background:white;

    color:#111827;
}