.timeline{

margin-top:40px;

border-left:4px solid #38BDF8;

padding-left:30px;

}

.timeline-card{

background:#1E293B;

padding:25px;

margin-bottom:30px;

border-radius:12px;

transition:.3s;

}

.timeline-card:hover{

transform:translateX(10px);

}

.timeline-card h3{

margin:0;

color:#38BDF8;

}

.timeline-card h4{

margin:10px 0;

}

.timeline-card span{

color:gray;

font-size:14px;

}

.timeline-card ul{

margin-top:20px;

line-height:1.8;

}